<!DOCTYPE html>

<title>RegisteredUser index</title>

{% block body %}
    <h1>RegisteredUser index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sex</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registered_user in registered_users %}
            <tr>
                <td>{{ registered_user.id }}</td>
                <td>{{ registered_user.sex }}</td>
                <td>{{ registered_user.firstname }}</td>
                <td>{{ registered_user.lastname }}</td>
                <td>{{ registered_user.birthday ? registered_user.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ registered_user.email }}</td>
                <td>
                    <a href="{{ path('registered_user_show', {'id': registered_user.id}) }}">show</a>
                    <a href="{{ path('registered_user_edit', {'id': registered_user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('registered_user_new') }}">Create new</a>
{% endblock %}
